body {
	background-color: #f5f5f5;
}
.my-lightbulb {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: transparent url('../../images/light-bulb-icon.png') no-repeat local center;
	background-size: 36px 36px;
}
#tbView {
	border-bottom: 0 !important;
}
#missionPnl {
	border: none; 
	border-right: 1px solid #ddd;
}
#addMissionBtn, #footerBtnPnl {
	float: right;
}
.ui-panelgrid .ui-widget-content, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}
.clear:after {
	content: '';
 	display: block;
 	clear: both;
}
.hide-column-names table thead tr {
	display: none;
}
.ui-tabs-nav {
	border-width: 0 !important;
}
  	
/*******************Start Explanation page css******************/
 div.ui-editor {
 	width: 100% !important;
 	height: 98% !important;
 }
 .ui-editor iframe {
	 width: 100% !important;
	 height: 95% !important;
 }
.disable-scroll .ui-dialog-content {
 	overflow: hidden !important;
}
.orderListDiv .ui-orderlist-list {
	width: 515px !important;
	height: 216px !important;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item {
	display: inline-block;
	border: 1px solid lightgray;
	width: 150px;
	height: 200px;
	margin: 5px;
	word-break: break-all;
	overflow: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: block;
	width: 148px;
	height: 198px;
	text-decoration: none;
}
div.divExplEdit {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	z-index: 1;
}
div.divExplEdit + img {
	margin-top: -18px;
	margin-left: -35px;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline;
	visibility: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item:hover .ui-commandlink {
	visibility: visible;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink span {
	border-radius: 10px;
	background-color: #aaa;
	float: left;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink span:hover {
	background-color: #aaf;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-up > span {
	background-position: -96px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-top > span {
	background-position: -240px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-down > span {
	background-position: -32px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-bottom > span {
	background-position: -208px -48px !important;
}
/*******************End Explanation page css******************/


/*******************Start ChooseHintCategory page css******************/

.orderListCHC .ui-orderlist-list {
	width: 515px !important;
	height: 216px !important;
}
.orderListCHC .ui-orderlist-list li.ui-orderlist-item {
	display: inline-block;
	border: 1px solid lightgray;
	width: 150px;
	height: 200px;
	margin: 5px;
	word-break: break-all;
	overflow-y: hidden;
}
.orderListCHC .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: block;
	width: 148px;
	height: 198px;
	text-decoration: none;
}
.orderListCHC .ui-orderlist-list li.ui-orderlist-item .ui-commandlink .olElementHeader{
	display: block;
	text-align: center;
	color: #000040;
}
/*******************End ChooseHintCategory page css******************/

#funcProvDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline-block !important;
	visibility: visible !important;
}
.searchBox input {
	font-size: 16px;
	background: url('../../images/search_icon.png') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	border-radius: 5px;
	margin-left: 3px;
}

.customersFieldset,.randomizationFieldset{
	display: inline;
	width: 45%;
	float: left;
}
.randomizationPanelGrid{
	color:red;
}

.commandsCheckBox span {
	background-color: yellow !important;
}