body {
	background-color: #f5f5f5;
}
.my-lightbulb {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: transparent url('../../images/light-bulb-icon.png') no-repeat local center;
	background-size: 36px 36px;
}
#tbView {
	border-bottom: 0 !important;
}
#missionPnl {
	border: none; 
	border-right: 1px solid #ddd;
}
#addMissionBtn, #footerBtnPnl {
	float: right;
}
.ui-panelgrid .ui-widget-content, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}
.clear:after {
	content: '';
 	display: block;
 	clear: both;
}
.hide-column-names table thead tr {
	display: none;
}
.ui-tabs-nav {
	border-width: 0 !important;
}
  	
/*******************Start Explanation page css******************/
.disable-scroll .ui-layout-unit-content {
 	overflow: hidden !important;
}
.explEdit, .explEdit .ui-editor {
 	height: 100% !important;
}
.explEdit .ui-editor iframe {
	width: 100% !important;
	height: 91% !important;
}
.orderListDiv .ui-orderlist-list {
	width: 515px !important;
	height: 216px !important;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item {
	display: inline-block;
	border: 1px solid lightgray;
	width: 150px;
	height: 200px;
	margin: 5px;
	word-break: break-all;
	overflow: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: block;
	width: 148px;
	height: 198px;
	text-decoration: none;
}
div.divExplEdit {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	z-index: 1;
}
div.divExplEdit + img {
	margin-top: -18px;
	margin-left: -35px;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline;
	visibility: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item:hover .ui-commandlink {
	visibility: visible;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink span {
	border-radius: 10px;
	background-color: #aaa;
	float: left;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink span:hover {
	background-color: #aaf;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-up > span {
	background-position: -96px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-top > span {
	background-position: -240px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-down > span {
	background-position: -32px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-bottom > span {
	background-position: -208px -48px !important;
}
/*******************End Explanation page css******************/


/*******************Start ChooseHintCategory page css******************/
.chooseHintCategoryDT{
	width: 600px;
}
.chooseHintCategoryDT .ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
    text-align: left;
}
.chooseHintCategoryDT .ui-datatable-even {
    text-align: left;
}
.chooseHintCategoryDT .ui-datatable-even :HOVER {
    background: none repeat scroll 0 0 #0080ff;
    color : white;
}
.chooseHintCategoryDT .ui-datatable-odd :HOVER {
    background: none repeat scroll 0 0 #0080ff;
    color : white;
}
.olElementHeader {
    color: black;
    font-weight: bold;
}
.leftColDT{
	width: 150px;
}
.cmndlinkDT,.cmndlinkDTText,.olElementHeader {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%; 
}
.chooseHintCategoryDT.ui-datatable tbody td{
	height: 50px;
}
.btnCancelCHCD{
	margin-top: 20px;
}
.dynaFormEmptyMsg{
	font-weight: bold;
	font-size:16px;
}

/*******************End ChooseHintCategory page css******************/

#funcProvDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline-block !important;
	visibility: visible !important;
}
.searchBox input {
	font-size: 16px;
	background: url('../../images/search_icon.png') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	border-radius: 5px;
	margin-left: 3px;
}
/*******************Start Customers page css******************/
.customersFieldset,.randomizationFieldset{
	display: inline-block;
	float: left;
}
.customersFieldset {
	width: 420px;	
}
.randomizationFieldset {
	width: 48%;
}
.customersFieldset img {
	width: 100%;
	border: 3px solid #e6d571;
	border-radius: 4px;
}
.customerInImgAddBtn {
	position: absolute;
	width: 40px;
	height: 42px;
}
.randBtnSave{
	display: block;
	float:right;
}
.randBtnAdd{
	display: block;
	margin-bottom: 5px;
}
/*******************End Customers page css******************/

/*******************Start Hint page css******************/
.formDTT{
	white-space: nowrap !important;
	margin-bottom: 35px;
}
.formDTE{
	white-space: nowrap;
}
.formDTT .dataTableEdit p{
	display: inline;
}
.formDTE .dataTableEdit p{
	display: inline;
}
/*******************End Hint page css******************/

/*******************Start Dialog Hint page css******************/

/*******************End Dialog Hint page css******************/

/*******************Start Objectives page css******************/

.btnAddObjectives{
	margin-top:30px;
	margin-bottom:20px;
	display: inline	;
}
.fieldsetObjectives{
	width: 450px !important;
}
.ui-panelgrid .fieldsetObjectives, .ui-panelgrid .fieldsetBonusTime, .dtBonusTime .ui-panelgrid tr, 
.dtBonusTime .ui-panelgrid .ui-widget-content, .dtBonusTime .ui-panelgrid .ui-panelgrid-cell, 
.dtObjectives .ui-panelgrid tr, .dtObjectives .ui-panelgrid td 
{
	border: 1px solid  #DDDDDB !important;
}

.ui-datatable tbody td{
	border: 1px solid  #DDDDDD !important;
}

.ui-panelgrid .fieldsetMaxxCmdBonus{
	border: 1px solid  #DDDDDD !important;
}

.fieldsetObjectives .ui-fieldset-legend {
    background: none;
    padding :10px;
    border : none;    
    box-shadow: none;
}
.fieldsetBonusTime{
	width: 300px !important;
}

.bonusTimeSpinner .ui-panelgrid-cell{
	padding-left: 0px;
	padding-right: 5px;
}
.fieldsetBonusTime .ui-datatable-tablewrapper {
	padding-left: 10px;	
 	width: 200px;
}
.fieldsetMaxxCmdBonus{
	width: 300px !important;
}
/*******************End Objectives css******************/

.addFromDBDT span.dataTableEdit{
	display: inline-block;
}
.addFromDBDT{
	white-space: nowrap;
}

/*Data table hover background*/
.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
    background: #78BCFF;
}