body {
	background-color: #f5f5f5;
}
.my-lightbulb {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: transparent url('../../images/light-bulb-icon.png') no-repeat local center;
	background-size: 36px 36px;
}
#tbView {
	border-bottom: 0 !important;
}
#missionPnl {
	border: none; 
	border-right: 1px solid #ddd;
}
#addMissionBtn, #footerBtnPnl {
	float: right;
}
.ui-panelgrid .ui-widget-content, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}
.clear:after {
	content: '';
 	display: block;
 	clear: both;
}
.hide-column-names table thead tr {
	display: none;
}
.ui-tabs-nav {
	border-width: 0 !important;
}
  	
/*******************Start Explanation page css******************/

.orderListDiv .ui-orderlist-list {
	width: 515px !important;
	height: 216px !important;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item {
	display: inline-block;
	border: 1px solid lightgray;
	width: 150px;
	height: 200px;
	margin: 5px;
	word-break: break-all;
	overflow-y: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: block;
	width: 148px;
	height: 198px;
	text-decoration: none;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline;
	visibility: hidden;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item:hover .ui-commandlink {
	visibility: visible;
}
.orderListDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink span {
	float: right;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-up > span {
	background-position: -96px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-top > span {
	background-position: -240px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-down > span {
	background-position: -32px -48px !important;
}
.orderListDiv .ui-orderlist-controls .ui-orderlist-button-move-bottom > span {
	background-position: -208px -48px !important;
}
/*******************End Explanation page css******************/

#funcProvDiv .ui-orderlist-list li.ui-orderlist-item .ui-commandlink {
	display: inline-block !important;
	visibility: visible !important;
}
.searchBox input {
	font-size: 16px;
	background: url('../../images/search_icon.png') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	border-radius: 5px;
	margin-left: 3px;
}