#################
## Eclipse
#################

*.pydevproject
.project
.metadata
build/
war/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.pyc
local.properties
.classpath
.settings/
.loadpath
db.properties
mail.properties
web/js/generated/
web/images/bkp/
en.json

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
src/pt/uc/dei/nobugssnackbar/i18n/en.json
web/js/generated/en.js
*.xlf
core/
blocks/
/newblocks/
/newcore/
/t.js
/old/
/temp/

snackman2.txt
/missionscripto/

2017-1-x.csv
*.csv
web/js/nobugs-min.js
web/js/generated/en.js
web/js/generated/pt-pt.js
*.json
web/js/generated/pt-br.js
web/js/nobugs/nobugs-min.js
utils/nobugssnackbar/InsertUsers.java
web/testeditorx.html
