#################
## Eclipse
#################

*.pydevproject
.project
.metadata
build/
war/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.pyc
local.properties
.classpath
.settings/
.loadpath
db.properties
mail.properties
web/js/generated/
en.json

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
src/pt/uc/dei/nobugssnackbar/i18n/en.json
web/js/generated/en.js
*.xlf
/core/
/blocks/
