{namespace importsjs}

/**
 * List of import js files.
 */
{template .imports}

	// this is a strategy to force the browsers reload the script
	{let $v: BlocklyApps.version/}

	<script type="text/javascript" src="js/nobugs-min.js?v={$v}"></script>

{/template}