{namespace importsjs}

/**
 * List of import js files.
 */
{template .imports}

	// this is a strategy to force the browsers reload the script
	{let $v: randomInt(999999)/}

	<script type="text/javascript" src="{$ij.contextPath}js/nobugs/nobugs-min.js?v={$v}"></script>

{/template}