<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>nobugssnackbar</display-name>
	<!--
	<context-param>
		<param-name>url-conn</param-name>
		<param-value>jdbc:mysql://localhost:3306/nobugssnackbar</param-value>
	</context-param>
	<context-param>
		<param-name>class-conn</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>user-conn</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>passw-conn</param-name>
		<param-value>root</param-value>
	</context-param>
	-->
	
	<context-param>
	 <param-name>primefaces.THEME</param-name>
 	 <param-value>bootstrap</param-value>
	</context-param>

 	<servlet>
	 <servlet-name>Faces Servlet</servlet-name>
	 <servlet-class>
	 javax.faces.webapp.FacesServlet
	 </servlet-class>
	</servlet>

	<servlet-mapping>
	 <servlet-name>Faces Servlet</servlet-name>
	 <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>

	<session-config>
	        <session-timeout>60</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>classes</param-name>
			<param-value>
			pt.uc.dei.nobugssnackbar.control.UserControl,
			pt.uc.dei.nobugssnackbar.model.User,
			pt.uc.dei.nobugssnackbar.model.Questionnaire,
			pt.uc.dei.nobugssnackbar.model.Question,
			pt.uc.dei.nobugssnackbar.model.QuestionOption,
			pt.uc.dei.nobugssnackbar.model.BartleType,
			pt.uc.dei.nobugssnackbar.control.Image64,
			pt.uc.dei.nobugssnackbar.control.QuestionnaireControl
			</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>hintImage</servlet-name>
    <servlet-class>pt.uc.dei.nobugssnackbar.servlets.HintImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hintImage</servlet-name>
    <url-pattern>/hintimg/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
</web-app>