<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>nobugssnackbar</display-name>
	<context-param>
		<param-name>url-conn</param-name>
		<param-value>jdbc:mysql://localhost:3306/nobugssnackbar</param-value>
	</context-param>
	<context-param>
		<param-name>class-conn</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>user-conn</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>passw-conn</param-name>
		<param-value>root</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>classes</param-name>
			<param-value>
			pt.uc.dei.nobugssnackbar.control.UserControl,
			pt.uc.dei.nobugssnackbar.model.User,
			pt.uc.dei.nobugssnackbar.model.Questionnaire,
			pt.uc.dei.nobugssnackbar.model.Question,
			pt.uc.dei.nobugssnackbar.model.QuestionOption,
			pt.uc.dei.nobugssnackbar.model.BartleType
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
</web-app>