<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:dialog id="funcProvDialog" widgetVar="funcProvDlg" showEffect="fade" hideEffect="fade" header="Choose Function Provider" minHeight="40">
		<h:form id="formFuncProv">
			<div class="searchBox">
				<h:inputText id="searchFunction" value="#{funcVC.filterNameStr}">
					<p:ajax event="keyup" update=":tbView:formFuncProv:fpList" listener="#{funcVC.handleKeyUpEvent}" />
				</h:inputText>
			</div>
			
			<div id="funcProvDiv" class="orderListDiv">	
				<p:orderList id="fpList" value="#{funcVC.functions}" var="f" itemValue="#{f}" 
					converter="#{funcVC.converter}" controlsLocation="none">
					      		
					<p:column>
						<p:commandLink title="Select"
							actionListener="#{funcVC.getFunctionById}"
							update=":tbView:formCondBuilder, :tbView:funcProvDialog"
							oncomplete="PF('funcProvDlg').hide()">
							<f:param name="funcId" value="#{f.id}" />

							<b><h:outputText value="#{f.name}:#{f.returnType}"/></b>
							<br/>
							<h:outputText value="#{f.description}"/>
						</p:commandLink>
					</p:column>
					
				</p:orderList>
			</div>
		</h:form>
	</p:dialog>
	
</ui:composition>