<ui:composition  xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:dialog id="hintDlg" showEffect="fade" hideEffect="fade" widgetVar="hintDialog" header="Hints" minHeight="40" closable="false">
		<!-- each dialog must have its own form -->
		<h:form id="formDlgHints">
	
			<p:panelGrid columns="2">
					
			    <p:outputLabel for="hintType" value="Hint type:"/>
				<p:selectOneRadio id="hintType" value="#{hintView.hint.type}">
				    <f:selectItem itemLabel="Tip" itemValue="false"/>
				    <f:selectItem itemLabel="Error" itemValue="true" />
				</p:selectOneRadio>
			        
			    <p:outputLabel for="btnChooseCategory" value="Cartegory:"/>
			    <p:commandButton id="btnChooseCategory" value="Choose" 
			    	oncomplete="PF('chooseHintCategoryDialog').show()" icon="ui-icon-search"/>
			    
			    <p:outputLabel for="btnBuildCondition" value="Condition:"/>
			    <p:panelGrid columns="2">
			    	<p:commandButton id="btnBuildCondition" value="Build"
			    		actionListener="#{condVC.newOrEditCondList}"
			    		oncomplete="PF('condBuilderDlg').show()" icon="ui-icon-wrench"
			    		update=":tbView:formCondBuilder"/>
			    	<h:outputText value="#{hintView.hint.conditionsAsString}"/>
			    </p:panelGrid>
			    
			    <p:outputLabel for="hintTime" value="Time"/>
			    <p:inputText id="hintTime" value="#{hintView.hint.time}"/>
			    		        
			</p:panelGrid>
			
		    <p:panelGrid columns="1">
			    <p:outputLabel for="hintText" value="Text explanation:"/>
			    <p:editor id="hintText" value="#{hintView.hint.text}" width="400"/>	
		    </p:panelGrid>
		    		    
		    <p:panelGrid columns="3" style="float: right;">    
				<p:commandButton value="OK" id="btnAddEditHint" icon="ui-icon-check" 
					actionListener="#{hintView.addEditHint}" 
					oncomplete="PF('hintDialog').hide()" 
					update=":tbView:formDTT, :tbView:formDTE, :tbView:formDlgHints, :tbView:formCondBuilder"/>  
			
				<p:commandButton value="Cancel" id="btnCancelHint" icon="ui-icon-close" actionListener="#{hintView.newHint}" 
					oncomplete="PF('hintDialog').hide()"/> 
			
				<p:commandButton value="Test" action="#{hintView.enableDialog()}" update=":tbView:dlgHintCategoryExtended" 
					oncomplete="PF('hintCategoryDialog').show()"/>
			</p:panelGrid>
	    </h:form>	
	</p:dialog>	

	<ui:include src="dlgconditionbuilder.xhtml"/>
	
	<ui:include src="dlghintcategoryhelper.xhtml"/>		
		
	
</ui:composition>