<ui:composition  xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<p:panelGrid columns="2" style="margin-bottom: 20px;">
		<span class="my-lightbulb"></span>
		<h:outputText>
			<f:attribute name="value" value="Here are the tips, shortcuts and helps that appears during the game play."/>
		</h:outputText>
	</p:panelGrid>
	
	<p:panelGrid columns="2" style="margin: 0 auto 30px auto;">
		<p:commandButton value="Add from database" id="btnAddFromDB" icon="ui-icon-circle-plus"/>
		<p:commandButton value="Add blank" id="btnAddBlank" oncomplete="PF('hintDialog').show()" 
			actionListener="#{hintView.setAdd(true)}" update=":tbView:formDlgHints" icon="ui-icon-circle-plus" />
	</p:panelGrid>
		
	<h:form id="formDTT" style="margin-bottom: 35px;">
		<p:outputLabel for="dtTips" value="Tips:"/>
		<p:dataTable id="dtTips" var="hint" value="#{hintView.tipsHints}" draggableRows="true">
		    <p:column headerText="Category">
		        <h:outputText value="#{hint.category}" />
		    </p:column>
		 
		    <p:column headerText="Time">
		        <h:outputText value="#{hint.time}" />
		    </p:column>
		 
		    <p:column headerText="Text">
		        <h:outputText value="#{hint.text}" escape="false"/>
		    </p:column>
		 
		    <p:column headerText="Action">
		        <h:outputText value="#{hint.conditionsAsString}" />
		    </p:column>
		    <p:column headerText="Edit">
		    
		        <p:commandButton value="Edit" id="btnTipsHint" oncomplete="PF('hintDialog').show()" 
		        	actionListener="#{hintView.setAdd(false)}" update=":tbView:formDlgHints">
		        	<f:setPropertyActionListener value="#{hint}" target="#{hintView.hint}"/>
		        </p:commandButton>
		        
		        <p:commandButton value="Delete" actionListener="#{hintView.deleteHint(hint)}" update=":tbView:formDTT"/>
		        	        
		    </p:column>		    
		</p:dataTable>	
	</h:form>
	
	<h:form id="formDTE">
		<p:outputLabel for="dtErorrs" value="Errors:"/>
		<p:dataTable id="dtErorrs" var="error" value="#{hintView.errorsHints}" draggableRows="true">
		    <p:ajax event="rowReorder" listener="#{hintView.onRowReorder}"/>
		    <p:column headerText="Category">
		        <h:outputText value="#{error.category}" />
		    </p:column>
		 
		    <p:column headerText="Time">
		        <h:outputText value="#{error.time}" />
		    </p:column>
		 
		    <p:column headerText="Text">
		        <h:outputText value="#{error.text}" escape="false"/>
		    </p:column>
		 
		    <p:column headerText="Action">
		        <h:outputText value="#{error.conditionsAsString}" />
		    </p:column>
		    <p:column headerText="Edit">
		        <p:commandButton value="Edit" oncomplete="PF('hintDialog').show()" 
		        	action="#{hintView.setAdd(false)}" update=":tbView:formDlgHints">
		        	<f:setPropertyActionListener value="#{error}" target="#{hintView.hint}"/>
		        </p:commandButton>
		        
		        <p:commandButton value="Delete" actionListener="#{hintView.deleteHint(error)}" update=":tbView:formDTE"/>		        
		    </p:column>		    
		</p:dataTable>		
	</h:form>
	
	<ui:include src="dlghint.xhtml"/>
    
    <h:form id="formDlgCHCD">
	    <p:dialog showEffect="fade" hideEffect="fade" widgetVar="chooseHintCategoryDialog" closable="false"
	 	header="Choose Hint Category" minHeight="40">	    	
			<p:commandButton value="Choose category" style="width:100px; height:125px; display: inline" oncomplete="PF('chooseCategoryDialog').show()"/>
		   		
		   	<p:dataGrid var="car" value="#{hintView.tipsHints}" columns="5" layout="grid" rows="1"  id="cars">
				<p:panel header="AAA" style="text-align:center;" >
			        <h:panelGrid columns="1" style="width:100%">
			            <h:outputText value="#{car.text}"/>		 
			        </h:panelGrid>
			    </p:panel>		 
			</p:dataGrid>
			
			<p:commandButton value="Cancel" id="btnCancelHintCatChoose" oncomplete="PF('chooseHintCategoryDialog').hide()"/>
		</p:dialog>  			
	</h:form>
	
</ui:composition>