<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<link rel="stylesheet" type="text/css" href="../css/admin/style.css" />	
</h:head>
<h:body>
	<p:growl id="growlMsgs" showDetail="true"/>
	<p:layout fullPage="true">
		 
		<p:layoutUnit id="missionPnl" position="west" size="300" minSize="200" maxSize="400" resizable="true">
	        <f:facet name="header">
	        	<div class="clear">
        			<h:outputText value="Missions" />
        			<p:commandButton id="addMissionBtn" icon="ui-icon-circle-plus" />
        		</div>
    		</f:facet>
    			
    		<p:dataTable id="missionDT" value="#{mm.missionList}" var="mission" styleClass="hide-column-names" selectionMode="single">
    			<p:column>
    				<h:outputText value="#{mission.name}" />
    			</p:column>
    		</p:dataTable>
	    </p:layoutUnit>
 
    	<p:layoutUnit position="center">
    	
        	<p:layout>
        		<p:layoutUnit position="north">
        			<p:panelGrid columns="4">
        			
        				<p:outputLabel value="Name :" for="missionNameCont" />
        				<p:inputText id="missionNameCont" value="Some value" disabled="true" />
        				
        				<p:outputLabel value="Language :" for="langMenu" />
        				<p:selectOneMenu id="langMenu" style="width: 100px;">
            				<f:selectItem itemLabel="en" itemValue="en" />
            				<f:selectItem itemLabel="pt" itemValue="pt" />
        				</p:selectOneMenu>
        				
        			</p:panelGrid>
        		</p:layoutUnit>
        		
        		<p:layoutUnit position="center">
					<p:tabView id="tbView" dynamic="true" effect="fade" effectDuration="fast">
				        
				        <p:tab id="explTab" title="Explanation">
				        	<ui:include src="modules/explanation.xhtml"/>
				        </p:tab>
				        
				        <p:tab title="Commands">
							<ui:include src="modules/commands.xhtml"/>
				        </p:tab>
				        
				        <p:tab title="Customers">
		
				        </p:tab>
				        
				        <p:tab title="Objectives">
		
				        </p:tab>	
				        
				        <p:tab id="hintsTab" title="Hints">
							<ui:include src="modules/hints.xhtml"/>
				        </p:tab>	
				        
				        <p:tab title="Machines">
		
				        </p:tab>
				        
				        <p:tab title="Settings">
		
				        </p:tab>			        			        			        	        		        		        
			    	</p:tabView>
        		</p:layoutUnit>
        		
        		<p:layoutUnit position="south">
        			<p:panelGrid id="footerBtnPnl" columns="2">
        				<p:commandButton value="Test" icon="ui-icon-play"/>
        				<p:commandButton value="Save" icon="ui-icon-circle-arrow-s"/>
        			</p:panelGrid>
       			</p:layoutUnit>
       			
        	</p:layout>
        	
    	</p:layoutUnit>
 
	</p:layout>
</h:body>
</html>