#avatar-tabs { 
	position: relative;
	top: -7px;
}

#avatar-tabs ul { margin: 0; padding: 0; }
.avatar-tab { display: inline-block; zoom:1; *display:inline; background: #fff7eb; border: solid 1px #ed6d54; border-bottom: none; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.avatar-tab a { color: #3b5f41; font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; text-decoration: none}
.avatar-tab a:hover { text-decoration: none; }
.avatar-tab.selected-tab {  background: #ffd89d;; padding-top: 6px; position: relative; top: 1px; border-color: #ed6d54; }
.avatar-tab a.selected-tab { font-weight: bold; color: #ed6d54; }

.avatar-container { border: solid #ed6d54 1px; }
/*

#avatar-tabs ul { height: 464px; list-style: none; margin: 0; padding: 0; background: #FCDBA1; float: left; border-right: solid 1px; }
#avatar-tabs ul li { width: 100px; margin: 0; padding: 0; text-align: center; }
#avatar-tabs ul li a { display: block; padding: 15px 0; outline: none; text-decoration: none; color: #000 }
#avatar-tabs ul li a:hover { font-weight: bold; }
#avatar-tabs ul li.selected-tab { background: #ffc578; position: relative; left: 1px; border-style: solid; border-width: 1px 0; }
#avatar-tabs ul li:first-child.selected-tab { border-top: none; }
#avatar-tabs ul li a.selected-tab {  }
#avatar-tabs .avatar-container { padding-top: 5px; padding-left: 120px; }	

.avatar-item:hover { cursor: pointer; background-color: #ccc; }
*/

#profileditor {
	width: 750px;
}

.colorPickerSquare {
	border: 1px orange solid;
	width: 255px;
	border-radius: 5px;
	background-color: #fff7eb;
}

.colorPickerSquare_font{
	font-size: 14px;
	color: black;
}

/* modifying the evo css */
.evo-palette td:hover {
	opacity: 0.5;
}

.evo-palette td {
	border-radius: 100%
}
