.dlgTalk {
  height: 356px;
  position: absolute;
  display: none;
  z-index: 100;
}

.dlgTalkCharacter {
  height: 126px;
  background-repeat: no-repeat;
}

.dlgTalkBaloon {
    width: 800px;
    height: 230px;
    background-image: url('../images/dialogbox.png');
    position: relative;
    top: -25px;
}
.dlgTalkText {
    padding: 17px;
    font-size: 18px;
    position: relative;
    left: 100px;
    width: 700px;
    top: 30px;
}

.dlgTalkButton {
   width: 74px;
   height: 44px;
   display: none;
   padding: 0px;
}

.dlgTalkClose {
   background-image: url('../images/closedialog.png');
   width:  32px;
   height:  32px;
   background-size:  100%;
   left: 773px;
   top: -20px;
   cursor: pointer;
   outline: none;
   background-color: transparent;
   border: none;
   position: relative;
}

.dlgTalkClose:hover {
    border: none;
    box-shadow: none;
}

.dlgTalkButton {
   cursor: pointer;
   position: absolute;
}
.dlgTalkNext:hover, .dlgTalkPrevious:hover, .dlgTalkNextClose:hover  {
    box-shadow: 5px 5px 5px ;
}

.dlgCharPhoto {
	background-color: white;
	border: 1px solid red;
	border-radius: 10px;
	z-index: 300;
	position: absolute;
}
