.dlgTalk {
  height: 356;
  position: absolute;
  display: none;
}

.dlgTalkCharacter {
  height: 126;
  background-image: url('teacher.png');
  background-repeat: no-repeat;
}

.dlgTalkBaloon {
    width: 800;
    height: 230;
    background-image: url('dialogbox.png');
    position: relative;
    top: -25px;
}
.dlgTalkText {
    padding: 17px;
    font-size: 18px;
}

.dlgTalkButton {
   width: 74px;
   height: 44px;
   display: none;
}

.dlgTalkClose {
   background-image: url('talkclose.png');
   width:  32;
   height:  32;
   background-size:  190%;
   background-position:  2;
   position: absolute;
}

.dlgTalkClose:hover {
   background-position:  -28;
   box-shadow: 3px 3px 3px ;
}

.dlgTalkClose, .dlgTalkButton {
   background-color: #4d90fe;
   background-repeat: no-repeat;
   border: 1px solid #0A57D7;
   border-radius: 6px;
   cursor: pointer;
   position: absolute;
}

.dlgTalkNext {
   background-image: url('talknext.png');
   background-position: -10% 30%;
}

.dlgTalkNext:hover {
   background-position: -64px 30%;
   box-shadow: 5px 5px 5px ;
}

.dlgTalkPrevious {
   background-image: url('talkprevious.png');
   background-position: -64px 30%;
}

.dlgTalkPrevious:hover {
   background-position: -10% 30%;
   box-shadow: 5px 5px 5px ;
}

