.levels, .levels_disabled {position: absolute; width: 34px; height: 25px; background-repeat: no-repeat; }
.levels_explain {position: absolute; background-repeat: no-repeat; display: none}

#level_1 {top: 267px; left: 70px }
#level_2 {top: 267px; left: 175px }
#level_3 {top: 205px; left: 230px }
#level_4 {top: 325px; left: 230px }
#level_5 {top: 267px; left: 285px }
#level_6 {top: 205px; left: 340px }
#level_7 {top: 325px; left: 340px }
#level_8 {top: 267px; left: 393px }
#level_9 {top: 267px; left: 505px }
#level_10 {top: 267px; left: 610px }
#level_11 {top: 205px; left: 675px }
#level_12 {top: 325px; left: 675px }

#nome_level_1.levels_explain{left:50px; top:130px} 
#nome_level_2.levels_explain{left:60px; top:300px} 
#nome_level_3.levels_explain{left:210px; top:105px} 
#nome_level_4.levels_explain{left:180px; top:350px} 
#nome_level_5.levels_explain{left:270px; top:300px}
#nome_level_6.levels_explain{left:345px; top:105px}  
#nome_level_7.levels_explain{left:360px; top:330px} 
#nome_level_8.levels_explain{left:380px; top:200px}
#nome_level_9.levels_explain{left:500px; top:300px} 
#nome_level_10.levels_explain{left:480px; top:140px} 
#nome_level_11.levels_explain{left:600px; top:100px} 
#nome_level_12.levels_explain{left:590px; top:340px} 

#level_1.levels{background-image: url('../images/niveis_01.png')} 
#level_2.levels{background-image: url('../images/niveis_02.png')} 
#level_3.levels{background-image: url('../images/niveis_03.png')} 
#level_4.levels{background-image: url('../images/niveis_04.png')} 
#level_5.levels{background-image: url('../images/niveis_05.png')}
#level_6.levels{background-image: url('../images/niveis_06.png')}  
#level_7.levels{background-image: url('../images/niveis_07.png')} 
#level_8.levels{background-image: url('../images/niveis_08.png')}
#level_9.levels{background-image: url('../images/niveis_09.png')} 
#level_10.levels{background-image: url('../images/niveis_10.png')} 
#level_11.levels{background-image: url('../images/niveis_11.png')} 
#level_12.levels{background-image: url('../images/niveis_12.png')} 

#level_1.levels_disabled{background-image: url('../images/niveis_01_disabled.png')} 
#level_2.levels_disabled{background-image: url('../images/niveis_02_disabled.png')} 
#level_3.levels_disabled{background-image: url('../images/niveis_03_disabled.png')} 
#level_4.levels_disabled{background-image: url('../images/niveis_04_disabled.png')} 
#level_5.levels_disabled{background-image: url('../images/niveis_05_disabled.png')}
#level_6.levels_disabled{background-image: url('../images/niveis_06_disabled.png')}  
#level_7.levels_disabled{background-image: url('../images/niveis_07_disabled.png')} 
#level_8.levels_disabled{background-image: url('../images/niveis_08_disabled.png')}
#level_9.levels_disabled{background-image: url('../images/niveis_09_disabled.png')} 
#level_10.levels_disabled{background-image: url('../images/niveis_10_disabled.png')} 
#level_11.levels_disabled{background-image: url('../images/niveis_11_disabled.png')} 
#level_12.levels_disabled{background-image: url('../images/niveis_12_disabled.png')} 

#level_1.levels:hover {background-image: url('../images/niveis_01_hover.png'); cursor: pointer; }
#level_2.levels:hover {background-image: url('../images/niveis_02_hover.png'); cursor: pointer; }
#level_3.levels:hover {background-image: url('../images/niveis_03_hover.png'); cursor: pointer; }
#level_4.levels:hover {background-image: url('../images/niveis_04_hover.png'); cursor: pointer; }
#level_5.levels:hover {background-image: url('../images/niveis_05_hover.png'); cursor: pointer; }
#level_6.levels:hover {background-image: url('../images/niveis_06_hover.png'); cursor: pointer; }
#level_7.levels:hover {background-image: url('../images/niveis_07_hover.png'); cursor: pointer; }
#level_8.levels:hover {background-image: url('../images/niveis_08_hover.png'); cursor: pointer; }
#level_9.levels:hover {background-image: url('../images/niveis_09_hover.png'); cursor: pointer; }
#level_10.levels:hover {background-image: url('../images/niveis_10_hover.png'); cursor: pointer; }
#level_11.levels:hover {background-image: url('../images/niveis_11_hover.png'); cursor: pointer; }
#level_12.levels:hover {background-image: url('../images/niveis_12_hover.png'); cursor: pointer; }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.level_notcompleted {
    animation: blink 1s;
    animation-iteration-count: infinite;
}