.basevarsgrid {position:relative}
.varsgrid {
	background-color: white;
	font-size: 12px;
	
}
.varsgrid-header {
	background-color: #efefef;
	background: -webkit-linear-gradient(top,#F9F9F9 0,#efefef 100%);
	background: -moz-linear-gradient(top,#F9F9F9 0,#efefef 100%);
	background: -o-linear-gradient(top,#F9F9F9 0,#efefef 100%);
	background-repeat: repeat-x;
	overflow: hidden;
	cursor: default;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
	color: black;
}
.varsgrid-header th { 
	font-weight: normal; 
	border-style: dotted;
	border-width: 0 1px 1px 0;
	padding: 2px;
}
	
 
.varsgrid-header tr { height: 30px }

.varsgrid-col0 {width: 100px }

.tipsgrid-header { display: none }

.tipsgrid td {
	border-style: solid;
	border-color: #DDDDDD;
	
}
