#containerCode {
  direction: ltr;
  font-size: large;
  overflow: auto;
  max-height: 400px;
}

button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

button.notEnabled>img {
  opacity: 1;
}

button.notEnabled:hover {
	box-shadow: 0px 0px 0px ;
}

button.notEnabled {
  border: 1px solid #707070;
  background-color: #707070;
  color: #fff;
  margin: 0px;
  padding: 5px;
}

.buttons button.primary {
	margin: 0px;
	padding: 5px;
  
}

#toolbarDiv {
  text-align: center;
  width: 400px;
  padding-top: 1em;
}
#blockly {
  position: fixed;
  bottom: 10px;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#languageMenu {
  vertical-align: top;
  margin-top: 12px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(images/icons.png);
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.debug {
  background-position: -43px 0px;
}
.run {
  background-position: -63px -21px;
}
.stop {
  background-position: -63px 0px;
}

/* Variable box */
#variableBox {
	width: 200px;
	position: fixed;
	display: block;
	background-color: #FDD9DC;
}
	
.move-header {
	background: linear-gradient(to bottom, #EFF5FF 0px, #E0ECFF 100%) repeat-x scroll 0% 0% transparent;
	border-color: #95B8E7;
	padding: 5px;
	position:  relative;
    border-width: 1px;
    border-style: solid;
}	
	
.move-title {
	font-size:12px;
	font-weight:bold;
	height: 16px;
	line-height: 16px;
}

.move-panel {
	right: 5px;
	width: auto;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	overflow: hidden;
}

.move-panel a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 2px;
	vertical-align: top;
	opacity: 0.6
}

.move-panel a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #EAF2FF;
    -moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.move-down {
	background: url('images/panel_tools.png') no-repeat scroll -32px -16px transparent;
}

.move-right {
	background: url('images/panel_tools.png') no-repeat scroll -48px 0px transparent;
}

#initialBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('images/logotipo.png') center center no-repeat;
}

#initialBackground input[type="text"], input[type="password"] {
	font-size: large;
	margin: 5px;
	padding: 10px;
}

li.goalok {
	list-style-image: url("images/goal_ok.png")
}

li.goalcancel {
	list-style-image: url("images/goal_cancel.png")
}

p.order {
    height: 35px;
    width: 32px;
    background-image: url("images/order.png");
    padding-top: 4px;
}

p.item {
    height: 35px;
    width: 32px;
    padding-top: 4px;
	
}

.missionSquare {
	width: 30px; height: 30px;	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #088231;
	-webkit-box-shadow: #B3B3B3 7px 7px 7px;
	-moz-box-shadow: #B3B3B3 7px 7px 7px;
	box-shadow: #B3B3B3 7px 7px 7px;
}

.missionEnabled, .missionTarget {
	background-image: url('images/unlock.png');
	background-repeat: no-repeat;
	background-position: bottom; 
}

.missionEnabled {
	background-color: #77DD77;
}


.missionTarget {
	background-color: #7777DD;
	cursor: pointer;
}

.missionTarget:hover {
	background-color: #BBBBEE;
}

.missionDisabled {
	cursor: default;
	background-image: url('images/lock.png');
	background-repeat: no-repeat;
	background-position: bottom; 
	background-color: #FF6961;
}

.selectMissionPanel {
    margin: 0 auto;
}

.gridViewChild {
  padding: 10px;
  text-align: center;
}   

table.tableVictory  {
 border-collapse: collapse;
}

table.tableVictory td  {
 border: 1px solid rgb(182, 182, 182);
 padding: 5px;	
}